<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.sha">

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Camera.CameraInfoActivity" />
        <activity android:name=".Camera.CameraTestActivity" />
        <activity android:name=".Camera.CameraResultActivity" />
        <activity android:name=".Screen.ScreenInfoActivity" />
        <activity android:name=".Screen.ScreenTestActivity" />
        <activity android:name=".Screen.ScreenResultActivity" />
        <activity android:name=".Battery.BatteryInfoActivity" />
        <activity android:name=".Battery.BatteryTestActivity" />
        <activity android:name=".Battery.BatteryResultActivity" />
        <activity android:name=".Vibrate.VibratorInfoActivity" />
        <activity android:name=".Vibrate.VibratorTestActivity" />
        <activity android:name=".Vibrate.VibratorResultActivity" />
        <activity android:name=".FlashLight.FlashlightInfoActivity" />
        <activity android:name=".FlashLight.FlashlightTestActivity" />
        <activity android:name=".SensorLight.SensorLightTestActivity" />
        <activity android:name=".SensorLight.SensorLightInfoActivity" />
        <activity android:name=".SensorLight.SensorLightResultActivity" />
        <activity android:name=".FlashLight.FlashLightResultActivity" />
        <activity android:name=".Gyroscope.GyroscopeTestActivity" />
        <activity android:name=".Gyroscope.GyroscopeInfoActivity" />
        <activity android:name=".Gyroscope.GyroscopeResultActivity" />
        <activity android:name=".Audio.AudioTestActivity" />
        <activity android:name=".Audio.AudioInfoActivity" />
        <activity android:name=".Audio.AudioResultActivity" />
        <activity android:name=".Microphone.MicrophoneTestActivity" />
        <activity android:name=".Microphone.MicrophoneInfoActivity" />
        <activity android:name=".Microphone.MicrophoneResultActivity" />
        <activity android:name=".Proximity.ProximityInfoActivity" />
        <activity android:name=".Proximity.ProximityTestActivity" />
        <activity android:name=".Proximity.ProximityResultActivity"></activity>
    </application>

</manifest>