<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.sha">

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.proximity"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Camera.CameraInfoActivity"
            android:label="Camera"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Camera.CameraTestActivity"
            android:label="Camera"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Camera.CameraResultActivity"
            android:label="Camera"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screen.ScreenInfoActivity"
            android:label="Screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screen.ScreenTestActivity"
            android:label="Screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Screen.ScreenResultActivity"
            android:label="Screen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Battery.BatteryInfoActivity"
            android:label="Battery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Battery.BatteryTestActivity"
            android:label="Battery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Battery.BatteryResultActivity"
            android:label="Battery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vibrate.VibratorInfoActivity"
            android:label="Vibration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vibrate.VibratorTestActivity"
            android:label="Vibration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Vibrate.VibratorResultActivity"
            android:label="Vibration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FlashLight.FlashlightInfoActivity"
            android:label="FlashLight"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FlashLight.FlashlightTestActivity"
            android:label="FlashLight"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SensorLight.SensorLightTestActivity"
            android:label="SensorLight"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SensorLight.SensorLightInfoActivity"
            android:label="SensorLight"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SensorLight.SensorLightResultActivity"
            android:label="SensorLight"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FlashLight.FlashLightResultActivity"
            android:label="FlashLight"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Gyroscope.GyroscopeTestActivity"
            android:label="Gyroscope"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Gyroscope.GyroscopeInfoActivity"
            android:label="Gyroscope"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Gyroscope.GyroscopeResultActivity"
            android:label="Gyroscope"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Audio.AudioTestActivity"
            android:label="Audio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Audio.AudioInfoActivity"
            android:label="Audio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Audio.AudioResultActivity"
            android:label="Audio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Microphone.MicrophoneTestActivity"
            android:label="Microphone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Microphone.MicrophoneInfoActivity"
            android:label="Microphone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Microphone.MicrophoneResultActivity"
            android:label="Microphone"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Proximity.ProximityInfoActivity"
            android:label="Proximity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Proximity.ProximityTestActivity"
            android:label="Proximity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Proximity.ProximityResultActivity"
            android:label="Proximity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Magnetic.MagneticInfoActivity"
            android:label="Magnetic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Magnetic.MagneticTestActivity"
            android:label="Magnetic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Magnetic.MagneticResultActivity"
            android:label="Magnetic"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Accelerometer.AccelerometerInfoActivity"
            android:label="Accelerometer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Accelerometer.AccelerometerTestActivity"
            android:label="Accelerometer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Accelerometer.AccelerometerResultActivity"
            android:label="Accelerometer"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AllTestActivity"
            android:label="All Test"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
    </application>

</manifest>